@import "./component/weather/city.css";
@import "./component/weather/weather.css";
@import "./menu.css";

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background: linear-gradient(
    180deg,
    rgb(16, 55, 92) 10%,
    rgb(247, 245, 232) 100%
  );

  background-attachment: fixed;
  margin: 0;
  overflow-x: hidden;
}

#map {
  margin-top: 16px;
  height: 300px;
  width: 300px;
}

/* remove zomm in zomm out buttons */
.leaflet-control {
  display: none;
}
