.weekly-weather {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  padding: 10px;
  border-radius: 10px;
  /* From https://css.glass */
  background: rgba(247, 232, 232, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(247, 232, 232, 0.28);
}

.weather-condition {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4f6ff;
  background-color: #10375cd1;
  border-radius: 10px;
  width: 100px;
  padding-right: 5px;
  padding-left: 5px;
}

.weather-condition img {
  width: 80px;
  height: 80px;
}
.temp {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-around;
}
.temp-max {
  color: #f3c623;
}
.temp-min {
  color: #b7e0ff;
}
